node_modules/
dist/
coverage/
*.log
.env
.env.local
.env.*.local
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
functions/lib/
service-account*.json
.DS_Store
Thumbs.db
.secret.local
